
Pokedex-CL.xcodeproj/project.xcworkspace/xcuserdata/josejavierpabongranados.xcuserdatad/UserInterfaceState.xcuserstate

Pokedex-CL.xcodeproj/xcuserdata/josejavierpabongranados.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
